/* Create An Account Form Validation Project */
/* Font Imports */
@import url("https://use.typekit.net/cng1fua.css");
@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,600,700|Libre+Franklin:300,400,500,600,700|Rubik:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap");
@import url("https://use.typekit.net/thg3nai.css");
@import url("https://fonts.googleapis.com/css?family=Arimo:700|Karla:400,700|Roboto+Condensed:700|Roboto:900&display=swap");
/* Theme Colors */
/* Theme Fonts */
/* body*/
body {
  background: #ffffff;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  color: #000;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden; }

@media (max-width: 414px) {
  body {
    background: #fff;
    /* fallback for old browsers */
    font-size: 16px;
    font-family: "Karla", sans-serif;
    color: #000;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden; } }

/* Containers */
.main {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  font-family: "Karla", sans-serif;
  z-index: 2;
  background: transparent;
  overflow-x: hidden; }

@media (max-width: 414px) {
  .main {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    flex-direction: column;
    font-family: "Karla", sans-serif;
    z-index: 2;
    background: transparent;
    padding: 22% 5%; } }

.main__rightcolumn {
  display: grid;
  width: 400px;
  font-size: 16px;
  background: transparent;
  font-weight: 300;
  color: #a3a3a3;
  margin: 7vh auto;
  border-radius: 7px;
  padding: 3% 3%; }

@media (max-width: 414px) {
  .main__rightcolumn {
    display: grid;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
    color: #a3a3a3;
    margin: 0;
    padding: 0;
    border-radius: 7px; } }

.row__6 {
  margin-bottom: 1rem;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  box-sizing: border-box; }

.row {
  margin-bottom: 1rem;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: 100%;
  width: 100%;
  box-sizing: border-box; }

.row__nomarginb {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: 100%;
  width: 100%;
  box-sizing: border-box; }

.row__automargin {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  width: 101%;
  /* margin-left: 1rem; */
  box-sizing: border-box; }

@media (max-width: 414px) {
  .row__automargin {
    margin: 0;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    width: 100%;
    box-sizing: border-box; } }

.row__password {
  margin: 0;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: 100%;
  width: 100%;
  box-sizing: border-box; }

.col-6 {
  width: auto; }

.container__passwordtoggle {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.container__pwlabel {
  display: flex;
  width: 102%; }

.container__inputfieldtoggle {
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

/* Paragraph & List Styles */
.main__rightcolumn p {
  font-size: 0.9rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 400;
  color: #9e9e9e;
  margin-top: 0.5rem; }

@media (max-width: 414px) {
  .main__rightcolumn p {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 400;
    color: #9e9e9e;
    margin-top: 0.5rem; } }

.passwordreq {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none; }

.passwordreq2 {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none; }

#passvalidicon {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

#passvalidicon2 {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

#passvalidicon3 {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

#passvalidicon4 {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

/* Headers & Labels */
.main__rightcolumn h1 {
  font-family: "Karla", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 1rem;
  color: #313131;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase; }

@media (max-width: 414px) {
  .main__rightcolumn h1 {
    font-family: "Karla", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 1rem;
    color: #313131;
    text-align: center;
    margin-bottom: 1rem; } }

#main-form.form-inline label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #313131;
  width: 100%; }

/* Links */
a:link {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

a:visited {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

a:hover {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

a:active {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

/* Form & Input Field Styles */
.personal {
  font-family: "Karla", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dedede;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #313131; }

.personal:focus {
  background: #f2f2f2;
  font-family: 'Libre Franklin', sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #313131; }

.password {
  font-family: "Karla", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #dedede;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #313131; }

.password:focus {
  background: #f2f2f2;
  font-family: "Karla", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #313131; }

.personal::-webkit-input-placeholder {
  color: #ff7a7a;
  font-size: 0.8rem;
  font-weight: 500; }

/* Password Validation Styles */
#letter.validpassw {
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #letter.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#capital.validpassw {
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #capital.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#number.validpassw {
  color: #000;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #number.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#length.validpassw {
  color: #000;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #length.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#letter.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #letter.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#capital.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #capital.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#number.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #number.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#length.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #length.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

.error {
  font-size: 0.7rem;
  font-weight: 600;
  color: #ff7a7a;
  text-align: left;
  margin-bottom: 3%; }

.errormsg {
  font-size: 0.8rem;
  font-weight: 600;
  color: #a73204;
  text-align: left;
  box-sizing: border-box; }

.pwconfirm {
  background: 'hsla(154, 59%, 92%, 1)';
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #313131;
  font-weight: 500;
  box-sizing: border-box; }

.successbg {
  background: 'url("images/check-circle-solid.svg") no-repeat 98%';
  background-size: 6%;
  border: none;
  border-bottom: 1px solid #38cc8c; }

#togglepw {
  background: transparent;
  border: none;
  font-size: 0.7rem;
  outline: none;
  top: 48px;
  left: -12px;
  position: relative; }

/* Buttons */
.main__form__button--bottombutton {
  box-sizing: border-box;
  background: #313131;
  width: 100%;
  padding: 1rem 1rem;
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  color: #fff; }

.main__form__button--bottombutton:disabled {
  box-sizing: border-box;
  background: #f2f2f2;
  width: 100%;
  padding: 1rem 1rem;
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  color: #d2d2d2; }

@media (max-width: 414px) {
  .main__form__button--bottombutton {
    box-sizing: border-box;
    background: #313131;
    width: 100%;
    padding: 1rem 1rem;
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 1.5rem;
    color: #fff; } }

@media (max-width: 414px) {
  .main__form__button--bottombutton:disabled {
    box-sizing: border-box;
    background: #f2f2f2;
    width: 100%;
    padding: 1rem 1rem;
    font-family: "Karla", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-top: 1.5rem;
    color: #d2d2d2; } }
