/* Create An Account Form Validation Project */
/* Font Imports */
@import url("https://fonts.googleapis.com/css?family=Barlow|IBM+Plex+Serif:300,400,500,600,700|Inter:400,500,600,700,800,900|Lora:400,700|Merriweather:400,700,900|Playfair+Display:600,700,800,900|Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
/* Theme Colors */
/* Theme Fonts */
/* body*/
body {
  background: linear-gradient(-45deg, #6be585, #dd3e54);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Libre Franklin", sans-serif;
  color: #000;
  margin: 0;
  font-size: 16px;
  overflow-x: hidden; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@media (max-width: 414px) {
  body {
    background: #fff;
    /* fallback for old browsers */
    font-size: 16px;
    font-family: "Libre Franklin", sans-serif;
    color: #000;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden; } }

/* Containers */
.nav {
  background: #313131;
  margin: 0;
  height: 10vh; }

.main {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto;
  font-family: "Libre Franklin", sans-serif;
  z-index: 2;
  background: transparent;
  overflow-x: hidden; }

@media (max-width: 414px) {
  .main {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    z-index: 2;
    background: transparent;
    padding: 21% 0%;
    margin: 0; } }

.main__rightcolumn {
  display: grid;
  width: 423px;
  font-size: 16px;
  background: #fff;
  font-weight: 300;
  color: #a3a3a3;
  margin: 9rem auto;
  padding: 3% 3%;
  border-radius: 7px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1); }

.main__rightcolumn--h1container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2rem 0; }

@media (max-width: 414px) {
  .main__rightcolumn {
    display: grid;
    width: 90%;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
    color: #a3a3a3;
    margin: 0;
    padding: 4% 5%;
    box-shadow: none; } }

@media (max-width: 414px) {
  .main__rightcolumn--h1container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 2rem 0; } }

.row__6 {
  margin-bottom: 1rem;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  box-sizing: border-box; }

.row {
  margin-bottom: 1rem;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: 100%;
  width: 100%;
  box-sizing: border-box; }

.row__nomarginb {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: 100%;
  width: 100%;
  box-sizing: border-box; }

.row__automargin {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  width: 101%;
  /* margin-left: 1rem; */
  box-sizing: border-box; }

@media (max-width: 414px) {
  .row__automargin {
    margin: 0;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    width: 100%;
    box-sizing: border-box; } }

.row__password {
  margin: 0;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-template-columns: 100%;
  width: 100%;
  box-sizing: border-box; }

.col-6 {
  width: auto; }

.container__passwordtoggle {
  display: flex;
  width: 100%;
  margin: 0.5rem 0 1rem 0; }

.container__pwlabel {
  display: flex;
  width: 102%; }

.container__inputfieldtoggle {
  margin: 0.5rem 0 0.5rem 0; }

/* Paragraph & List Styles */
.main__rightcolumn p {
  font-size: 0.8rem;
  font-family: "Libre Franklin", sans-serif;
  margin-bottom: 3rem;
  font-weight: 400;
  color: #c2c2c2;
  margin: 0.8rem 0 2rem 0; }

@media (max-width: 414px) {
  .main__rightcolumn p {
    font-size: 0.9rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 400;
    color: #313131;
    margin-top: 0.5rem; } }

.passwordreq {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none; }

.passwordreq2 {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none; }

#passvalidicon {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

#passvalidicon2 {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

#passvalidicon3 {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

#passvalidicon4 {
  display: inline;
  font-size: 0.75rem;
  margin-right: 4px;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #a73204; }

/* Headers & Labels */
.main__rightcolumn h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 1rem;
  color: #313131;
  text-align: left;
  margin: 0 0 2.5rem 0; }

.main__rightcolumn--h1container svg {
  margin: 0 1rem 0 0; }

.main__rightcolumn--h1container h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 1rem;
  color: #313131;
  text-align: left;
  margin: 0; }

.main__rightcolumn--h1container:after {
  border-bottom: 1px solid #313131; }

@media (max-width: 414px) {
  .main__rightcolumn--h1container h1 {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 1rem;
    color: #313131;
    text-align: center;
    margin: 0 0 2.5rem 0; } }

#main-form.form-inline label {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
  color: #313131;
  width: 100%; }

/* Links */
a:link {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

a:visited {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

a:hover {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

a:active {
  color: #000;
  font-weight: 700;
  text-decoration: none; }

/* Form & Input Field Styles */
.personal {
  font-family: "Libre Franklin", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dedede;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #313131;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.personal:focus {
  background: #f2f2f2;
  font-family: 'Libre Franklin', sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #313131;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.password {
  font-family: "Libre Franklin", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #dedede;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: #313131;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.password:focus {
  background: #f2f2f2;
  font-family: "Libre Franklin", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  height: 45px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: #313131;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.personal::-webkit-input-placeholder {
  color: #ff7a7a;
  font-size: 0.8rem;
  font-weight: 500; }

/* Password Validation Styles */
#letter.validpassw {
  color: #000;
  font-weight: 500;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #letter.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#capital.validpassw {
  color: #000;
  font-weight: 500;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #capital.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#number.validpassw {
  color: #000;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #number.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#length.validpassw {
  color: #000;
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #length.validpassw {
    color: #000;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#letter.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #letter.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#capital.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #capital.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#number.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #number.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

#length.wrongpw {
  color: #a73204;
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0;
  display: inline; }

@media (max-width: 414px) {
  #length.wrongpw {
    color: #a73204;
    font-weight: 400;
    font-size: 0.8rem;
    margin: 0;
    display: inline; } }

.error {
  font-size: 0.7rem;
  font-weight: 600;
  color: #ff7a7a;
  text-align: left;
  margin-bottom: 3%; }

.errormsg {
  font-size: 0.8rem;
  font-weight: 600;
  color: #a73204;
  text-align: left;
  box-sizing: border-box; }

.pwconfirm {
  width: 100%;
  height: 32px;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #313131;
  font-weight: 500;
  box-sizing: border-box; }

#togglepw {
  background: transparent;
  border: none;
  font-size: 0.7rem;
  outline: none;
  top: 2.4rem;
  left: -1rem;
  position: relative; }

@media (max-width: 414px) {
  #togglepw {
    background: transparent;
    border: none;
    font-size: 0.8rem;
    outline: none;
    top: 2.47rem;
    left: -1rem;
    position: relative; } }

/* Buttons */
.main__form__button--bottombutton {
  box-sizing: border-box;
  background: #313131;
  width: 100%;
  padding: 1rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  border: none;
  border-radius: 40px;
  margin-top: 2rem;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.main__form__button--bottombutton:disabled {
  box-sizing: border-box;
  background: #f2f2f2;
  width: 100%;
  padding: 1rem 1rem;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  border: none;
  border-radius: 40px;
  margin-top: 2rem;
  color: #d2d2d2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

@media (max-width: 414px) {
  .main__form__button--bottombutton {
    box-sizing: border-box;
    background: #313131;
    width: 100%;
    padding: 1rem 1rem;
    font-family: "Libre Franklin", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-top: 1.5rem;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; } }

@media (max-width: 414px) {
  .main__form__button--bottombutton:disabled {
    box-sizing: border-box;
    background: #f2f2f2;
    width: 100%;
    padding: 1rem 1rem;
    font-family: "Libre Franklin", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-top: 1.5rem;
    color: #d2d2d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; } }
